header.menu.sidebar
    .menu-btn 
        span
        span
        span 
    nav.mobile-menu
        div
            h1 Dashboard
            div  v.01
        ul
            li
                a(href="") Dashboard
            li
                a(href="") Product >
            li
                a(href="") Customers >
            li
                a(href="") Income >
            li
                a(href="") Promote >
            li
                a(href="") Help >
            div
        h2 Evano
        p Project Manager

